a {
    text-decoration: none;
    color: #222222;
}

a:visited {
    color: #222222;
}
h4 {
    font-size: 14px;
}

body {
    background-color: #DDCC55;
    color: #000000;
    font-size: 16px;
    font-family: 'stoke', "Lucida Bright", 'liberation', serif;
}

td {
    vertical-align: top;
}

header {
    display: block;
    margin-bottom: 1px;
}

nav {
    display: block;
    width: 20%;
    float: left;
}
nav ul {
    color: #000000;
    line-height: 230%;
    margin-top: 40px;
    list-style-type: square;
}

#menu {
    font-family: "Verdana", "Ubuntu", sans-serif;
    font-weight: bold;
}

#menu ul {
    list-style-type: square;
}

ul{
    line-height: 200%;
}

#preco {
    color: #CC0000;
}

.ender {
    font-family: "Karla", "Verdana", "Ubuntu", sans-serif;
    float: right;
    text-align: right;
    font-size: 14px;
    line-height: 140%;
    font-size: 14px;
}

.apres {
    text-align: center;
    font-size: 16px;
}

.imgLogo {
    border-bottom: 3px solid #222222;
    margin-bottom: 6px;
    padding-bottom: 15px;
}

#main-logo {
    font-family: "Lucida Bright", "Liberation Sans", sans-serif;
    text-align: center;
}


.listaPlano {
    width: 300px;
    color: #202020;
    background-color: #EEEEBB;
    font-size: 12px;
    padding: 10px 10px 10px;
    border: 3px solid #202020;
    margin: 0 auto 10px auto;
    list-style-type: square; /* Para exibir itens da lista como quadrados */
    text-align: left; /* Para centralizar o texto dentro do container */
}

.listaPlano ul {
    list-style-type: square;
}

.listaPlano ol {
    color: #202020;
    list-style-type: lower-alpha;
}