/* 
 *   Estilo Geral 
 */
 body {
    color: #000000;
    font-size: 16px;
    background-color: #DDCC55;
    font-family: stoke, Lucida Bright, liberation;
}

a:link {
    color: #222222;
    text-decoration: none;
}

a:visited {
    color: #222222;
    text-decoration: none;
}

ol {
    line-height: 200%;
}

ul {
    line-height: 200%;
}

/* 
 *   Estilo Nav 
 */
nav ul {
    color: #000000;
    margin-top: 40px;
    line-height: 230%;
    list-style-type: square;
}

/* 
 *   Estilo Header 
 */
.ender {
    float: right;
    text-align: right;
    font-size: 14px;
    line-height: 140%;
    font-family: karla, verdana, ubuntu;
}

img.imgLogo {
    padding-bottom: 15px;
    border-bottom: 3px solid #222222;
    margin-bottom: 6px;
}

/*************************************** 
 *   Estilo Seção Apresentação 
 */
div.apres {
    text-align: center;
    font-size: 16px;
}

/*************************************** 
*   Estilo Seção Planos 
*/
.Titulo {
    text-align: center;
}

h4 {
    font-size: 14px;
}

.listaPlano {
    width: 300px;
    color: #202020;
    font-size: 12px;
    border: 3px solid #202020;
    margin: 0px auto 10px auto;
    padding: 10px 10px 10px 30px;
    background-color: #EEEEBB;
    list-style-type: square;
}

.listaPlano ol {
    color: #202020;
    list-style-type: lower-alpha;
}

.preco {
    color: #CC0000;
}

/*************************************** 
*   Estilo Seção Equipamentos 
*/table.tabEquip {
    width: 510px;
    border: 1px solid;
    font-size: 14px;
    margin-bottom: 10px;
    border-collapse: separate;
    background-color: #EEEEBB
}

table.tabEquip td,
table.tabEquip th {
    padding: 10px;
    border: 1px solid;
}

table.tabEquip td {
    font-size: 12px;
    background-color: #EEEEBB;
}

th.tabTitulo {
    color: #FFFFFF;
    background-color: #402020;
}

th.tabSubTit {
    color: #FFFFFF;
    background-color: #802020;
}


.imgCel img {
    width: 130px; /* Ajustado para a nova largura */
    height: 130px; /* Ajustado para a nova altura */

}

.tabEquip .imgCel  {
    background-color:#FFFFFF;
}

.tabEquip .imgEquip {
    text-align: center; /* Centraliza o conteúdo na coluna */
    background-color: #802020;
}

/* Estilo para o link na primeira coluna */
.tabEquip .imgEquip a {
    color: #FFFFFF; /* Cor do link */
    text-decoration: none; /* Remove sublinhado */
}

.tabEquip .imgEquip a:visited {
    color: #FFFFFF; /* Cor do link visitado */
}

.tabEquip .imgEquip a:hover {
    color: #FFEE88; /* Cor quando o cursor está sobre o link */
}

/* Estilo para a descrição do equipamento */
#DescExe {
    width: 250px; /* Largura definida */
    height: 230px; /* Altura definida */
    text-align: justify; /* Justifica o texto */
    vertical-align: top; /* Alinha o texto ao topo da célula */
}

/*************************************** 
*   Estilo Formulários 
*/
.formul {
    width: 400px;
    color: #202020;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px auto 10px auto;
    border: 3px solid #202020;
    background-color: #EEEEBB;
}

.fsPessoal {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}

.linhaNome {
    height: 30px;
    width: 340px;
    padding-top: 8px;
}

.linhaDados {
    width: 340px;
    height: 130px;
}

.fsGenero {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.fsCartao {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.inpNome {
    width: 220px;
}

.ColDirMat {
    float: right;
}

.ColEsqPes {
    float: left;
    width: 70px;
    display: block;
}

.numDD {
    width: 35px;
}

.numQD {
    width: 50px;
}

.inpNCC {
    width: 130px;
}

.inpTelef {
    width: 90px;
}

.inpMat {
    width: 70px;
}

.inpVal {
    width: 50px;
}

.colLabCrd {
    width: 270px;
    height: 30px;
    float: left;
    text-align: left;
}

.colValTot {
    float: left;
    width: 220px;
    display: block;
    text-align: left;
}

.entDireita {
    float: right;
    margin-right: 20px;
}